<div id="experiencia" class="experience-area section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>My <span>Experience</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="resumes">
                    <li class="resume-item expr">
                        <h3>Full-Stack .NET Developer</h3>
                        <h4>Everis</h4>
                        <h5>December 2019 - Present</h5>
                        <p>Empresa dedicada a la transformación digital
                            Tareas a realizar:
                            Desarrollo de software por medio de Metodologías Ágiles con las siguientes tecnologías C#,
                            Net Core(2.1,2.2 y 3.0), Redis,API Rest, Javascript, JQuery, Angular, Dependency Injection,
                            DDD, Microservicios, Azure DevOps, CI/CD, Sql Server</p>
                    </li>
                    <li class="resume-item expr">
                        <h3>Full-Stack .NET Developer</h3>
                        <h4>Converse</h4>
                        <h5>May 2019 - December 2019</h5>
                        <p>Empresa de dedicada a la venta de Calzados, Indumentaria y Accesorios
                            Tareas a realizar: Desarrollo y mantenimiento de aplicaciones en .NET Framework, .NET Core ,
                            Razor Pages, AngularJS, Angular 2+, MSSQL, Restful Apis, Servicios Web, WCF, WPF, ,SignalR,
                            Debugging y Unit Testing</p>
                    </li>

                </ul>
            </div>

            <div class="col-md-6">
                <ul class="resumes">
                    <li class="resume-item expr">
                        <h3>Programmer Analyst .NET</h3>
                        <h4>Division Informatica</h4>
                        <h5>October 2018 - May 2019</h5>
                        <p>Empresa de dedicada al desarrollo software de gestión para empresas de otorgamiento de
                            créditos
                            Tareas a realizar : Soporte al cliente, Debugging de aplicativo web y servicios web en .NET
                            Framework con lenguaje Visual Basic, Versionado con SVN, Corrección de bugs y Base de datos
                            en MySQL</p>
                    </li>
                    <li class="resume-item expr">
                        <h3>IT Support</h3>
                        <h4>Palmero</h4>
                        <h5>November 2014 - October 2018</h5>
                        <p>Empresa dedicada a la venta de Grupos Electrógenos, Maquinas de construcción y Servicio Post
                            Venta
                            Tareas: Administración de Servidores en Linux y en Windows, Mantenimiento y Administración
                            de paginas web en Wordpress, Desarrollos de Landings pages, Desarrollo de Web Services con
                            APIs con Python</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>