<div class="about-area section-padding" id="informacion">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="stack">
                    <img src="/img/ProfileAbout.jpg" alt="about image">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 col-sm-12">
                <div class="about-right">
                    <h2>Fullstack Developer</h2>
                    <p>I am <span>Kevin Cabrera</span>. I am a simple , creative, enthusiastic and fun-loving person. I
                        always like to create something on my own which is helpful for others.</p>
                    <p>I have 2 years of experience in .NET Framework, Node js, Python, Javascript, JQuery, Angular,
                        React, SQL Server and MongoDB.</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="about-list">
                                <li> <span class="title">Name</span> <span class="value">´Kevin Cabrera</span> </li>
                                <li> <span class="title">Age</span> <span class="value">23 Years</span> </li>
                                <li> <span class="title">Email</span> <span class="value">kcabrera866@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="about-list">
                                <li> <span class="title">Phone</span> <span class="value">+54 11 6274 4903</span> </li>
                                <li> <span class="title">From</span> <span class="value">Buenos Aires, Argentina</span>
                                </li>
                                <li> <span class="title">City</span> <span class="value">Del Viso, Pilar</span> </li>
                            </ul>
                        </div>
                    </div>


                    <a href="#skills-bd" class="skill-btn btn-a">My skills</a>
                    <a href="images/about/demo-cv.png" class="down-btn btn-a" download="">download cv</a>

                </div>
            </div>
        </div>
    </div>
</div>