<header class="nav-area navbar-fixed-top">
    <div class="container">
        <div class="row">
            <!--Menu principal-->
            <div class="col-md-12">
                <div class="main-menu">
                    <div class="navbar navbar-cus">
                        <div class="navbar-header">
                            <a href="/" class="navbar-brand"><span class="logo">Ke<span>vin</span></span></a>
                            <!--Cambia el nombre del logo -->
                            <!--<button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>-->
                        </div>

                        <div class="navbar-collapse collapse">
                            <nav>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a class="smooth-menu" href="/">Home</a></li>
                                    <li><a class="smooth-menu" href="#contacto">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--Menu principal-->
        </div>
    </div>
</header>