<html>

<head>
    <!--Bootstrap 4.5.2-->
    <!--<link type="text/css" href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--Bootstrap 3-->
    <link type="text/css" href="/lib/bootstrap/css/bootstrap3.min.css" rel="stylesheet">
    <link type="text/css" href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">
    <link type="text/css" href="/lib/bootstrap/css/responsive.css">
</head>

<body>
    <%- body  %>
</body>

</html>