<div class="about-area section-padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="stack">
                    <img src="/img/Profile.jpg" alt="about image">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 col-sm-12">
                <div class="about-right">
                    <h2>Front-End Developer</h2>
                    <p>I am <span>Robin Williams</span>. I am a simple , creative, enthusiastic and fun-loving person. I
                        always like to create something on my own which is helpful for others.</p>
                    <p>I have vast experience in HTML5, CSS3, Javascript, JQuery, Node js and on. I have already
                        completed over 500 projecs of different buyer throughout the world. </p>


                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="about-list">
                                <li> <span class="title">Name</span> <span class="value">Robin Williams</span> </li>
                                <li> <span class="title">Age</span> <span class="value">30 Years</span> </li>
                                <li> <span class="title">Email</span> <span class="value">example@example.com</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="about-list">
                                <li> <span class="title">Phone</span> <span class="value">+123 456 789 012</span> </li>
                                <li> <span class="title">Address</span> <span class="value">124, Brik Lane</span> </li>
                                <li> <span class="title">Hobby</span> <span class="value">Cricket , Coding</span> </li>
                            </ul>
                        </div>
                    </div>


                    <a href="#skills-bd" class="skill-btn btn-a">my skills</a>
                    <a href="images/about/demo-cv.png" class="down-btn btn-a" download="">download cv</a>

                </div>
            </div>
        </div>
    </div>
</div>