<body>
    <%- include('../partials/menu')  %>
    <div class="banner-area" id="home">
        <div class="banner-table">
            <div class="banner-table-cell">
                <div class="welcome-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <section class="intro animate-scale">
                                    <div class="img-area">
                                        <img src="/img/Profile.jpg" alt="">
                                    </div>

                                    <h3>I'm Kevin</h3>

                                    <h1 class="ah-headline clip is-full-width">

                                        <span class="ah-words-wrapper" style="width: 143.621px; overflow: hidden;">
                                            <b class="is-hidden">Fullstack Developer</b>
                                        </span>
                                    </h1>

                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="https://www.linkedin.com/in/kevin-cabrera-509241135/"
                                                    target="_blank" title="Linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </section>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de Banner area-->

    <%- include('../partials/scripts') %>
    <script src="/js/inicio.js"></script>
</body>